*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

.sconsign.dblite
*.uvproj
*.uvopt
*.uvgui.*

[Dd]ebug/
[Oo]utput/
[Ll]ist/
settings/
bin/
obj/
*.dep
*.bin
*.map
*.axf
*.pyc
*.bin
*.o
*.lst
*.obj
*.hex

*.uvopt
*.uvproj
*.bat